body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav{
  display: flex;
  font-size: larger;
  background-color:rgb(29, 193, 14);
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90px;
}
.navh1{
  color: black;
  list-style: none;
  text-decoration: none;
  font-size: 40px;
  font-weight: bold;
}
.navlinks{
padding: 2%;
color: white;
}
.cardlist{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width:1000px;
  margin-top: 3%;
  background-color: white;
  text-align: center;
  padding-top: 2%;
  margin-left: 20%;
}
.cardlist img{
  height: 500px;
}
.form{
  border: solid black;
  margin-top: 5%;
  width: 50%;
  height: 50%;
  background: white;
  padding-left: 4%;
  padding-right: 5%;
  margin-left: 20%;
}
.form h2{
  color: black;
  margin-top: 5%;
  margin-left: 25%;
  font-weight: 400;
  font-size: 50px;
}
input[type=text]{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: black;
  margin-top: 3%;
  margin-bottom: 2%;
}
#description{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: black;
  margin-top: 3%; 
  margin-bottom: 2%;
   
  }
  #btn{
    background-color: #fca311;
    padding:1% 3%;
    margin-bottom: 2%;
    border: none;
  }